.App {
  text-align: center;
  color: red;
}
.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 1px;
  height: 10%;
}



.iconPage {
  width: 100px;
  height: 50px;
}

.iconOne {
  width: 60px;
  height: 60px;
  margin-left: 8%;
}

.b-add {
  width: 80px;
  margin-top: 10px;
  margin-left: 20px;
}

.table {
  float: left;
}

.td{
  margin-left: 10px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*!* Set a style for all buttons *!*/
/*.button {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    opacity: 0.9;*/
/*}*/

/*.button:hover {*/
/*    opacity:1;*/
/*}*/

/* Extra styles for the cancel button */

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.center-screen {
  justify-content: center;
  text-align: center;
}

#content {
  overflow:auto;
  width: 100%;
  /*background: gray;*/
}

#left, #right {
  width: 49%;
  margin:5px;
  padding: 1em;
  background: white;
}

#left  { float:left;  }
#right { float:right; }

.content {
  overflow:auto;
  width: 100%;
  /*background: gray;*/
}

.left, .right {
  width: 49%;
  margin:5px;
  padding: 1em;
  background: white;
}

.left  { float:left;  }
.right { float:right; }

.center {
  position: absolute;
  left: 50%;
  top: 97%;
  transform: translate(-50%, -50%);
}

.avatar-div{
  width: 20%;
  margin-left: 10%;
}

.icon-div {
  float: right;
}

* {
  box-sizing: border-box;
}

.page{
  float: right
}

.image-upload > input
{
  display: none;
}

.image-upload img
{
  width: 80px;
  cursor: pointer;
}

